<html>
    <body>
        <h1>Liste des annonces</h1>
        Page de visualisation des annonces

        {% for advert in adverts %}
            <div>
                <p> <a href="{{ path('sl_platform_view', {'id': advert.id}) }}" >{{ advert.title }}</a> par {{ advert.author }} le {{ advert.date|date("m/d/Y") }}</p>
                <p> {{ advert.content }} </p>
            </div>
            <div>
                <a href="{{ path('sl_platform_edit', {'id': advert.id}) }}" >Modifier</a> 
                <a href="{{ path('sl_platform_delete', {'id': advert.id}) }}" >Supprimer</a> 
            </div>
        {% endfor %}
    </body>
</html>
